@theme {
  /** light colors */
  /* primary */
  --color-primary-v1: var(--cyan-a1);
  --color-primary-v2: var(--cyan-a2);
  --color-primary-v3: var(--cyan-a3);
  --color-primary-v4: var(--cyan-a4);
  --color-primary-v5: var(--cyan-a5);
  --color-primary-v6: var(--cyan-a6);
  --color-primary-v7: var(--cyan-a7);
  --color-primary-v8: var(--cyan-a8);
  --color-primary: var(--cyan-a9);
  --color-primary-v9: var(--cyan-a10);
  --color-primary-v10: var(--cyan-a11);
  --color-primary-v11: var(--cyan-a12);

  /* secondary */
  --color-secondary-v1: var(--blue-a1);
  --color-secondary-v2: var(--blue-a2);
  --color-secondary-v3: var(--blue-a3);
  --color-secondary-v4: var(--blue-a4);
  --color-secondary-v5: var(--blue-a5);
  --color-secondary-v6: var(--blue-a6);
  --color-secondary-v7: var(--blue-a7);
  --color-secondary-v8: var(--blue-a8);
  --color-secondary: var(--blue-a9);
  --color-secondary-v9: var(--blue-a10);
  --color-secondary-v10: var(--blue-a11);
  --color-secondary-v11: var(--blue-a12);

  /* asset */
  --color-asset-v1: var(--sage-a1);
  --color-asset-v2: var(--sage-a2);
  --color-asset-v3: var(--sage-a3);
  --color-asset-v4: var(--sage-a4);
  --color-asset-v5: var(--sage-a5);
  --color-asset-v6: var(--sage-a6);
  --color-asset-v7: var(--sage-a7);
  --color-asset-v8: var(--sage-a8);
  --color-asset: var(--sage-a9);
  --color-asset-v9: var(--sage-a10);
  --color-asset-v10: var(--sage-a11);
  --color-asset-v11: var(--sage-a12);

  /* background */
  --color-background-v1: var(--white-a1);
  --color-background-v2: var(--white-a2);
  --color-background-v3: var(--white-a3);
  --color-background-v4: var(--white-a4);
  --color-background-v5: var(--white-a5);
  --color-background-v6: var(--white-a6);
  --color-background-v7: var(--white-a7);
  --color-background-v8: var(--white-a8);
  --color-background: var(--white-a12);
  --color-background-v9: var(--white-a9);
  --color-background-v10: var(--white-a10);
  --color-background-v11: var(--white-a11);

  /* foreground */
  --color-foreground-v1: var(--black-a1);
  --color-foreground-v2: var(--black-a2);
  --color-foreground-v3: var(--black-a3);
  --color-foreground-v4: var(--black-a4);
  --color-foreground-v5: var(--black-a5);
  --color-foreground-v6: var(--black-a6);
  --color-foreground-v7: var(--black-a7);
  --color-foreground-v8: var(--black-a8);
  --color-foreground: var(--black-a12);
  --color-foreground-v9: var(--black-a9);
  --color-foreground-v10: var(--black-a10);
  --color-foreground-v11: var(--black-a11);

  /* success */
  --color-success-v1: var(--grass-a1);
  --color-success-v2: var(--grass-a2);
  --color-success-v3: var(--grass-a3);
  --color-success-v4: var(--grass-a4);
  --color-success-v5: var(--grass-a5);
  --color-success-v6: var(--grass-a6);
  --color-success-v7: var(--grass-a7);
  --color-success-v8: var(--grass-a8);
  --color-success: var(--grass-a9);
  --color-success-v9: var(--grass-a10);
  --color-success-v10: var(--grass-a11);
  --color-success-v11: var(--grass-a12);

  /* warning */
  --color-warning-v1: var(--amber-a1);
  --color-warning-v2: var(--amber-a2);
  --color-warning-v3: var(--amber-a3);
  --color-warning-v4: var(--amber-a4);
  --color-warning-v5: var(--amber-a5);
  --color-warning-v6: var(--amber-a6);
  --color-warning-v7: var(--amber-a7);
  --color-warning-v8: var(--amber-a8);
  --color-warning: var(--amber-a9);
  --color-warning-v9: var(--amber-a10);
  --color-warning-v10: var(--amber-a11);
  --color-warning-v11: var(--amber-a12);

  /* danger */
  --color-danger-v1: var(--tomato-a1);
  --color-danger-v2: var(--tomato-a2);
  --color-danger-v3: var(--tomato-a3);
  --color-danger-v4: var(--tomato-a4);
  --color-danger-v5: var(--tomato-a5);
  --color-danger-v6: var(--tomato-a6);
  --color-danger-v7: var(--tomato-a7);
  --color-danger-v8: var(--tomato-a8);
  --color-danger: var(--tomato-a9);
  --color-danger-v9: var(--tomato-a10);
  --color-danger-v10: var(--tomato-a11);
  --color-danger-v11: var(--tomato-a12);

  /** light shadows */
  --shadow-button: inset 0 0 0 1px var(--gray-a4), inset 0 -2px 1px var(--gray-a3);
  --shadow-top-button: inset 0 0 0 1px var(--gray-a4), inset 0 -2px 1px var(--gray-a3);
  --buttons-shadow: var(--shadow-top-button), inset 0 0 0 1px var(--color-primary-v9), var(--shadow-button);

  --icon-display: 10%;
}

.dark {
  /** dark colors */

  /* background */
  --color-background-v1: var(--black-a1);
  --color-background-v2: var(--black-a2);
  --color-background-v3: var(--black-a3);
  --color-background-v4: var(--black-a4);
  --color-background-v5: var(--black-a5);
  --color-background-v6: var(--black-a6);
  --color-background-v7: var(--black-a7);
  --color-background-v8: var(--black-a8);
  --color-background: var(--black-a12);
  --color-background-v9: var(--black-a9);
  --color-background-v10: var(--black-a10);
  --color-background-v11: var(--black-a11);

  /* foreground */
  --color-foreground-v1: var(--white-a1);
  --color-foreground-v2: var(--white-a2);
  --color-foreground-v3: var(--white-a3);
  --color-foreground-v4: var(--white-a4);
  --color-foreground-v5: var(--white-a5);
  --color-foreground-v6: var(--white-a6);
  --color-foreground-v7: var(--white-a7);
  --color-foreground-v8: var(--white-a8);
  --color-foreground: var(--white-a12);
  --color-foreground-v9: var(--white-a9);
  --color-foreground-v10: var(--white-a10);
  --color-foreground-v11: var(--white-a11);

  /* dark danger */
  --color-danger-v1: var(--red-a1);
  --color-danger-v2: var(--red-a2);
  --color-danger-v3: var(--red-a3);
  --color-danger-v4: var(--red-a4);
  --color-danger-v5: var(--red-a5);
  --color-danger-v6: var(--red-a6);
  --color-danger-v7: var(--red-a7);
  --color-danger-v8: var(--red-a8);
  --color-danger: var(--red-a9);
  --color-danger-v9: var(--red-a10);
  --color-danger-v10: var(--red-a11);
  --color-danger-v11: var(--red-a12);

  /** dark shadows */
  --shadow-button: inset 0 4px 2px -2px var(--white-a9), inset 0 2px 1px -1px var(--white-a9);
  --shadow-top-button:
    inset 0 0 0 1px var(--white-a2), inset 0 4px 2px -2px var(--white-a3), inset 0 1px 1px var(--white-a6),
    inset 0 -1px 1px var(--black-a6);
  --buttons-shadow: var(--shadow-top-button), inset 0 0 0 1px var(--color-primary-v9), var(--shadow-button);
  --icon-display: 90%;
}
